.logInContainer {
    width: 20%;
    font-size: 18px;
    padding: 25px;
    background: #EDF5E1;
    box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 35vh;
    box-sizing: border-box;
    align-items: center;
}

.logInContainer h2 {
    margin: 0;
    color: #05386B;
}

.logInForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logInContainer .inputContainer {
    background-color: #EDF5E1;
    margin: 10px 0;
}

.logInContainer input {
    background-color: #EDF5E1;
}

.logInContainer button {
    margin-top: 15px;
}