.inputContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #EDF5E1;
    border: 1px solid #282c34;
    padding: 2px 5px;
    border-radius: 0.25em;
    box-sizing: border-box;
    color: #05386B;
}

.inputContainer:focus-within {
    border-color: #1786f5;
    transition: 0.3s ease-in-out;
}

.inputContainer label {
    font-size: 14px;
}

.inputContainer input {
    background-color: #EDF5E1;
    border: none;
    font-size: 20px;
}

.inputContainer input:focus {
    outline: none;
}