/* Headline / Brand Color: #05386B */
/* Background / Inner Container Color : #5CDB95 */
/* Container Color: #EDF5E1 */
/* Paragraph Color: ? #1786f5 ? */

.App {
  min-height: 100vh;
  background-color: #5CDB95;
}

.App.dark {
  background-color: #282c34;
}

.App-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #05386B;
  width: 100%;
  box-sizing: border-box;
  height: 10vh;
  padding: 0 2em;
  position: fixed;
}

.App-header.dark {
  color: #1786f5;
}

.App-Main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
}

.App-Button {
  font-size: 18px;
  border-radius: 7px;
  padding: 5px 10px;
  background-color: #FF8A6B;
  font-weight: bold;
}

.App-Button:focus {
  outline: none;
}